QLHS/Service References/KetQuaService/QuanLySinhVienWCF.QuanLySinhVienBDO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KetQuaBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diem" type="xs:float" />
      <xs:element minOccurs="0" name="MaMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaSV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KetQuaBDO" nillable="true" type="tns:KetQuaBDO" />
  <xs:complexType name="ArrayOfKetQuaBDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KetQuaBDO" nillable="true" type="tns:KetQuaBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKetQuaBDO" nillable="true" type="tns:ArrayOfKetQuaBDO" />
</xs:schema>