QuanLySinhVienConsoleTest/Service References/SinhVienServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SinhVienBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GioiTinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HocBong" type="xs:int" />
      <xs:element minOccurs="0" name="MaKhoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoiSinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenSV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVienBDO" nillable="true" type="tns:SinhVienBDO" />
  <xs:complexType name="ArrayOfSinhVienBDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinhVienBDO" nillable="true" type="tns:SinhVienBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinhVienBDO" nillable="true" type="tns:ArrayOfSinhVienBDO" />
</xs:schema>