QuanLySinhVienConsoleTest/Service References/SinhVienServiceRef/SinhVienService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SinhVienService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISinhVienService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_GetSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSinhVien" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_GetSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_GetAllSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSinhVien" />
  </wsdl:message>
  <wsdl:message name="ISinhVienService_GetAllSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSinhVienResponse" />
  </wsdl:message>
  <wsdl:portType name="ISinhVienService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinhVienService/Add" message="tns:ISinhVienService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinhVienService/AddResponse" message="tns:ISinhVienService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinhVienService/Update" message="tns:ISinhVienService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinhVienService/UpdateResponse" message="tns:ISinhVienService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinhVienService/Delete" message="tns:ISinhVienService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinhVienService/DeleteResponse" message="tns:ISinhVienService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinhVienService/GetSinhVien" message="tns:ISinhVienService_GetSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinhVienService/GetSinhVienResponse" message="tns:ISinhVienService_GetSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinhVienService/GetAllSinhVien" message="tns:ISinhVienService_GetAllSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinhVienService/GetAllSinhVienResponse" message="tns:ISinhVienService_GetAllSinhVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISinhVienService" type="tns:ISinhVienService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISinhVienService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISinhVienService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISinhVienService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSinhVien">
      <soap:operation soapAction="http://tempuri.org/ISinhVienService/GetSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSinhVien">
      <soap:operation soapAction="http://tempuri.org/ISinhVienService/GetAllSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SinhVienService">
    <wsdl:port name="BasicHttpBinding_ISinhVienService" binding="tns:BasicHttpBinding_ISinhVienService">
      <soap:address location="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>