QLHS/Service References/MonHocService/QuanLySinhVienWCF.QuanLySinhVienBDO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MonHocBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTiet" type="xs:int" />
      <xs:element minOccurs="0" name="TenMH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonHocBDO" nillable="true" type="tns:MonHocBDO" />
  <xs:complexType name="ArrayOfMonHocBDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonHocBDO" nillable="true" type="tns:MonHocBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonHocBDO" nillable="true" type="tns:ArrayOfMonHocBDO" />
</xs:schema>