QLHS/Service References/KhoaService/QuanLySinhVienWCF.QuanLySinhVienBDO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KhoaBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaKhoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenKhoa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhoaBDO" nillable="true" type="tns:KhoaBDO" />
  <xs:complexType name="ArrayOfKhoaBDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhoaBDO" nillable="true" type="tns:KhoaBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhoaBDO" nillable="true" type="tns:ArrayOfKhoaBDO" />
</xs:schema>