QLHS/Service References/KhoaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KhoaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QuanLySinhVienWCF.QuanLySinhVienBDO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKhoaService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Add_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Update_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_Delete_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetKhoa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKhoa" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetKhoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKhoaResponse" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetKhoa_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetAllKhoa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKhoa" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetAllKhoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKhoaResponse" />
  </wsdl:message>
  <wsdl:message name="IKhoaService_GetAllKhoa_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
  </wsdl:message>
  <wsdl:portType name="IKhoaService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhoaService/Add" message="tns:IKhoaService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhoaService/AddResponse" message="tns:IKhoaService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKhoaService/AddExceptionFault" name="ExceptionFault" message="tns:IKhoaService_Add_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhoaService/Update" message="tns:IKhoaService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhoaService/UpdateResponse" message="tns:IKhoaService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKhoaService/UpdateExceptionFault" name="ExceptionFault" message="tns:IKhoaService_Update_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhoaService/Delete" message="tns:IKhoaService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhoaService/DeleteResponse" message="tns:IKhoaService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKhoaService/DeleteExceptionFault" name="ExceptionFault" message="tns:IKhoaService_Delete_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKhoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhoaService/GetKhoa" message="tns:IKhoaService_GetKhoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhoaService/GetKhoaResponse" message="tns:IKhoaService_GetKhoa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKhoaService/GetKhoaExceptionFault" name="ExceptionFault" message="tns:IKhoaService_GetKhoa_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKhoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhoaService/GetAllKhoa" message="tns:IKhoaService_GetAllKhoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhoaService/GetAllKhoaResponse" message="tns:IKhoaService_GetAllKhoa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKhoaService/GetAllKhoaExceptionFault" name="ExceptionFault" message="tns:IKhoaService_GetAllKhoa_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKhoaService" type="tns:IKhoaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IKhoaService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IKhoaService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IKhoaService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetKhoa">
      <soap:operation soapAction="http://tempuri.org/IKhoaService/GetKhoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllKhoa">
      <soap:operation soapAction="http://tempuri.org/IKhoaService/GetAllKhoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhoaService">
    <wsdl:port name="BasicHttpBinding_IKhoaService" binding="tns:BasicHttpBinding_IKhoaService">
      <soap:address location="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/KhoaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>